{erl_opts, [debug_info]}.
{edoc_opts, [{preprocess, true}]}.

{deps, [
    {cowboy, "2.10.0"}
]}.

{relx, [
    {release, {erlang, "1"}, [erlang]},
    {overlay, [
        {mkdir, "log/sasl"},
        {template, "config/sys.config", "releases/{{release_version}}/sys.config"},
        {template, "config/vm.args", "releases/{{release_version}}/vm.args"}
    ]}
]}.