{release, {erlang_release, "1"}, [erlang]}.
{dev_mode, true}.
{include_erts, true}.
{extended_start_script, true}.
{sys_config, "config/sys.config"}.
{vm_args, "config/vm.args"}.
{overlay, [
    {mkdir, "log/sasl"},
    {template, "config/sys.config", "releases/{{release_version}}/sys.config"},
    {template, "config/vm.args", "releases/{{release_version}}/vm.args"}
]}.
